{{ partial "default_head.html" . }}

  <div class="content container">
	<div class="posts">
      <div class="post">
<!--
 	    {{ range first 1 .Data.Pages }}
           <h2><a href='{{ .Permalink }}'>{{ .Title }}</a> </h2>
        	{{ if eq .RelPermalink "/animal-telemetry/index.html" }} 
				{{ .Content }}
			{{else}}
				{{ .Summary }} 
				<footer>
					<a href='{{ .Permalink }}'><nobr><i>Read more ></i></nobr></a>
				</footer>
			{{end}}
		{{ end }}
-->
 	    {{ range .Data.Pages }}
           <h2><a href='{{ .Permalink }}'>{{ .Title }}</a> </h2>
        	{{ if eq .RelPermalink "/conventions-for-observing-asset-identifiers/index.html" }} 
				{{ .Content }}
				<footer>
					<a href='./ioos_assets_wiki_init_v0_1/'><nobr><i>Read more ></i></nobr></a>
				</footer>
			{{else}}
				{{ .Summary }} 
				{{ if .Truncated }}
					<footer>
						<a href='{{ .Permalink }}'><nobr><i>Read more ></i></nobr></a>
					</footer>
				{{end}}
			{{end}}
		{{ end }}
<!--
 	    {{ range .Data.Pages }}
           <h2><a href='{{ .Permalink }}'>{{ .Title }}</a> </h2>
        	{{ if eq .RelPermalink "/animal-telemetry/index.html" }} 
				{{ .Content }}
				<footer>
					<a href='./animal-telemetry/'><nobr><i>Read more ></i></nobr></a>
				</footer>
			{{end}}
		{{ end }}
-->
<!--
 	    {{ range .Data.Pages }}
           <h2><a href='{{ .Permalink }}'>{{ .Title }}</a> </h2>
        	{{ if eq .RelPermalink "/animal-telemetry/index.html" }} 
				{{ .Summary }} 
				<footer>
					<a href='./animal-telemetry/'><nobr><i>Read more ></i></nobr></a>
				</footer>
			{{end}}
		{{ end }}
-->		
 	  </div>
    </div>
  </div>

{{ partial "default_foot.html" . }}
